/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: white;
    line-height: 1.6;
    color: #333;
    margin: 20px;
}
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.duplicate-tabs-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.duplicate-tab-group {
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.duplicate-tab-group:hover {
    background-color: #e0e0e0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
}
img {
    max-width: 100%;
    max-height:100%;
}

.text {
    font-size: 70px;
}

.header {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.action-container {
    display: flex;
    flex-direction: column;
}

.switch {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

body {
    width: 20rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
}

li {
    padding: 0.25rem;
}

li:nth-child(odd) {
    background: #80808030;
}
li:nth-child(even) {
    background: #ffffff;
}

h3,
p {
    margin: 0;
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    width: 48px;
    height: 24px;
    border-radius: 12px;
    background-color: lightgrey;
    /*background-color: #4caf50;*/
    margin-right: 10px;
}

.slider:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    /*background-color: #4caf50;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.switch input:checked + .slider {
    background-color: limegreen;    
}

.switch input:checked + .slider:before {
    transform: translateX(24px);
}

.move-group-container {
    margin-top: 30px;
}

.move-group-container h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

h2 {
    margin-bottom: 10px;
}

/*label {*/
/*    display: block;*/
/*    font-weight: bold;*/
/*    margin-bottom: 5px;*/
/*}*/

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

